---
title: Set Up
owner: @mastertinner
---

<strong><%= modified_date %></strong>

In this step you will install the Cloud Foundry CLI, which can be used for managing and scaling your applications and services.

<div style="text-align:center">
  <a href="<%= vars.cli_download %>" class="btn btn-primary" target="_blank">Download the CF CLI</a>
</div>

Once installed, you can use the CF CLI from your command shell.

Log in using the e-mail address and password you used when creating your <%= vars.product_short %> account:

<pre class="terminal">
$ cf login -a <%= vars.api_endpoint %>
API endpoint: <%= vars.api_endpoint %>

Email&gt; user@mydomain.com

Password&gt;
</pre>

Authenticating is required to use the CLI tool.

Note that if you’re behind a firewall that requires use of a proxy to connect with external HTTP/HTTPS services, you can set the `HTTP_PROXY` or `HTTPS_PROXY` environment variables in your local development environment before running any command.

<div style="text-align:center">
  <a href="./prepare.html" class="btn btn-primary">I have installed the CLI</a>
</div>
